READ FIRST - Screen Hack Instructions-old.pdf
Screen Files/Traktor Pro 4/CSI/Common/Settings/ConfigLoader.qml
Screen Files/Traktor Pro 4/Screens/S8/Views/Widgets/PhaseMeter.qml
Screen Files/Traktor Pro 4/Screens/S8/Views/Widgets/HotcueRow.qml
Screen Files/Traktor Pro 4/Screens/S8/Views/Images/QuarterNote.svg
Screen Files/Traktor Pro 4/Screens/S8/Views/Images/LoopArrow_Icon.svg
Screen Files/Traktor Pro 4/Screens/S8/Views/Images/DeckIconMetronomeGrey.png
Screen Files/Traktor Pro 4/Screens/S8/Views/Images/DeckIconMetronomeBlue.png
Screen Files/Traktor Pro 4/Screens/S8/Views/Deck/DeckFooter.qml
Screen Files/Traktor Pro 4/Screens/Images/BrowserIcons/Browser_Icon_MusicFolder.png
Screen Files/Traktor Pro 4/Screens/Fonts/ProggyVector-Regular.ttf
Screen Files/Traktor Pro 4/Screens/Fonts/ProggyClean.ttf
Screen Files/Traktor Pro 4/Screens/Defines/Prefs.qml
Screen Files/Traktor Pro 4/CSI/XDJ700/XDJ700Stripe.qml
Screen Files/Traktor Pro 4/CSI/XDJ1000MK2/XDJ1000MK2Stripe.qml
Screen Files/Traktor Pro 4/CSI/X1MK3/X1MK3FXUnit.qml
