READ FIRST - Screen Hack Instructions-old.pdf
TP4-qml/CSI/Common/Settings/ConfigLoader.qml
TP4-qml/Screens/S8/Views/Widgets/PhaseMeter.qml
TP4-qml/Screens/S8/Views/Widgets/HotcueRow.qml
TP4-qml/Screens/S8/Views/Images/QuarterNote.svg
TP4-qml/Screens/S8/Views/Images/LoopArrow_Icon.svg
TP4-qml/Screens/S8/Views/Images/DeckIconMetronomeGrey.png
TP4-qml/Screens/S8/Views/Images/DeckIconMetronomeBlue.png
TP4-qml/Screens/S8/Views/Deck/DeckFooter.qml
TP4-qml/Screens/Images/BrowserIcons/Browser_Icon_MusicFolder.png
TP4-qml/Screens/Fonts/ProggyVector-Regular.ttf
TP4-qml/Screens/Fonts/ProggyClean.ttf
TP4-qml/Screens/Defines/Prefs.qml
TP4-qml/CSI/XDJ700/XDJ700Stripe.qml
TP4-qml/CSI/XDJ1000MK2/XDJ1000MK2Stripe.qml
TP4-qml/CSI/X1MK3/X1MK3FXUnit.qml
